// Import page-specific CSS files here.
@import "home";
@import "signIn";
@import "newBooking";


.title-index {
  padding: 30px;
}

#search {
  // border-top-right-radius:  8px;
  // border-bottom-right-radius:  8px;
  border-radius: 24px;
  padding: 25px 20px;
  margin-top: 12px;
}
