<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/jordannadroj/bikey_bee"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    This web app is made with <i class="far fa-heart"></i> by Jordan, Igor, Xavi and Lena.
  </div>
</div>
