
<div class="banner" style="background-image: url(<%= cl_image_path "https://res.cloudinary.com/becksboo/image/upload/v1612018189/home_pic_vfp9bf.jpg"
 %>)">
  <div class="container">
    <h2>Hit the road in <span id="banner-typed-text"></span></h2>
    <%= render "shared/search" %>
    <br>
    <%= link_to 'Explore all bikes', bikes_path %>
  </div>
</div>


