
<div class="banner" style="background-image: url(<%= cl_image_path "https://res.cloudinary.com/becksboo/image/upload/v1612018189/home_pic_vfp9bf.jpg"
 %>)">
  <div class="home-container">
    <h2>Hit the road in <span id="banner-typed-text"></span></h2>
    <br>
    <%= form_tag bikes_path, class: "index-search", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control", id: "home-search-bar",
        placeholder: "Where are you going?"
      %>
      <%= submit_tag "Find a bike!", class: "btn btn-index-search", id: "home-search" %>
    <% end %>
  </div>
</div>


