<!-- <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../images/bikeapp.jpg);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div> -->

<div class="home-banner" >
  <div class="action-wrapper">
    <h2>Hit the road</h2>
    <div class="btn-wrapper">
      <a href="" class="call-to-action-btn" href="#">Book a Bike</a>
    </div>
  </div>
</div>
