html, body, .banner {
  height: 100%
}


.banner {
  background-size: cover;
  background-position: center;
  position: relative;
  top: -78px;
  h2 {
    margin: 0;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: light;
    font-size: 50px;
  }
  a {
    font-size: 24px;
    background-color: white;
    border-radius: 29px;
    padding: 8px 20px;
    text-decoration: none;
    &:hover {
      color: white;
      background-color: black;
    }
  }
}

.home-container {
  // position: absolute;
  // top: 200px;
  // left: 820px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: flex-start;
    margin: 0 20%;
    padding-top: 150px;
  }

