<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <h2>Say a few words about <%= @bike.name %></h2>
      <%= render 'form' %>
      <br>
      <%= link_to "Back", bike_path(@bike), class: "btn btn-light" %>
    </div>
  </div>
</div>
